<!-- menu-bar.component.html -->
<mat-toolbar color="primary" class="menu-container">
    <div class="menu-items">
      <a mat-button routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Home
      </a>
      
      <a mat-button routerLink="/signin" routerLinkActive="active">
        <mat-icon>login</mat-icon>
        Sign In
      </a>

      <a mat-button routerLink="/services" routerLinkActive="active">
        <mat-icon>miscellaneous_services</mat-icon>
        Services
      </a>

    <!-- User Section -->
    <div class="user-section" *ngIf="username$ | async as username">
        <span class="username">Welcome, {{ username }}</span>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
  
    </div>
  </mat-toolbar>