<!-- signin.component.html -->
<mat-card class="signin-container">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="credentials.email" name="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="credentials.password" name="password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Sign In</button>
      </form>
  
      <p class="signup-link">
        Don't have an account? <a mat-button routerLink="/signup">Sign Up</a>
      </p>
    </mat-card-content>
  </mat-card>